<div class="product-detail-container">
  <h2>Detalles del Producto</h2>
  <div *ngIf="product">
    <h3>{{ product.name }}</h3>
    <p>Precio: {{ product.price | currency }}</p>
    <p>{{ product.description }}</p>
    <p>Categoría: {{ product.category }}</p>
    <p>Stock: {{ product.stock }}</p>
    <img [src]="product.imageUrl" alt="{{ product.name }}" />
  </div>

  <h2>Crear Nuevo Producto</h2>
  <form (ngSubmit)="onSubmit()">
    <input type="text" [(ngModel)]="newProduct.name" name="name" placeholder="Nombre del producto" required />
    <input type="number" [(ngModel)]="newProduct.price" name="price" placeholder="Precio" required />
    <textarea [(ngModel)]="newProduct.description" name="description" placeholder="Descripción" required></textarea>
    <input type="text" [(ngModel)]="newProduct.category" name="category" placeholder="Categoría" required />
    <input type="number" [(ngModel)]="newProduct.stock" name="stock" placeholder="Stock" required />
    <input type="text" [(ngModel)]="newProduct.imageUrl" name="imageUrl" placeholder="URL de la imagen" required />
    <button type="submit">Crear Producto</button>
  </form>
  <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
</div>